.footer {
    height: 201px;
    padding: 24px 0 28px 0;
    background-color: #25333c;
    display: block;
    .contact {
        display: grid;
        grid-template-columns: 490px 378px;
        grid-template-rows: 71px;
        column-gap: 280px;
        justify-content: space-between;

        &__logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 68px;
                height: 71px;
            }
        }
        &__header {
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
        }

        &__questions {
            display: grid;
            grid-template-columns: 161px 160px;
           // column-gap: 19px;
           justify-content: space-between;
            align-items: center;
        }

        &__descr {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            .text {
                color: #ffffff;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
            }

            .phone {        
            color: #ffffff;
            font-size: 19px;
            font-weight: 700;
            }
        }

        &__btn {
            width: 160px;
            height: 45px;
            background-color: #ec644b;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-transform: uppercase;
                color: #ffffff;
                font-size: 12px;
                font-weight: 400;
                text-decoration: none;
            }
        }

        &__divider {
            width: 1171px;
            height: 1px;
            background-color:  #ffffff;
            opacity: 0.3;
            margin-top: 26px;
        }
    }
    
    .confidentiality {
        margin-top: 19px;
        display: grid;
        grid-template-columns: 136px 185px 140px;
         justify-content: space-between;
        align-items: center;
        &__year {
            opacity: 0.6;
            color: #ffffff;
            font-size: 13px;
            font-weight: 300;
        }

        &__politics {
            color: #ec644b;
            font-size: 13px;
            font-weight: 300;
            text-decoration: underline;
        }

        &__logo {
            display: grid;
            grid-template-columns: 98px 30px;
            column-gap: 10px;
            align-items: center;
            &-text {
                opacity: 0.6;
                color: #ffffff;
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
}